body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(29, 29, 29) !important;
    position: relative;
}

canvas {
    width: 100%;
    height: 100%;
    margin: auto;
}

.three-js {
    border-radius: 25px;
    background-color: rgb(63, 63, 63);
    margin: 10px;
    padding: 10px;
}

.menuwu {
    border-radius: 25px;
    background-color: rgb(63, 63, 63);
    margin: 10px;
    padding: 10px;
}

.btn-style {
    margin: 3px;
}

.select-style {
    font-size: 12px !important;
}

.row-width {
    width: 50%;
    transform: translate(50%, 0);
}

.white-icon {
    filter: invert(100%) sepia(51%) saturate(1%) hue-rotate(333deg) brightness(107%) contrast(101%);
    width: 16px;
    height: 16px;
}

#simulation-info-content {
    background-color: rgba(0, 0, 0, 0.5);
    width: 28em;
    color: white;
    padding: 5px;
    text-align: center;
    margin-bottom: 0;
}

#flow-control button {
    margin: 0.2em;
}

.square {
    scale: 1.5;
    transform: translate(30%, 0);
}


#legend {
    margin-top: 10px;
    margin-right: 5em;
    position: absolute;
    top: 0;
    right: 0;
    width: 4em;
    height: 62vh;
    text-align: center;
}


.legend-color {
    height: 10%;
}

.legend-1 {
    background-color: rgb(225, 5, 5);
}

.legend-2 {
    background-color: rgb(245, 0, 7);
}
.legend-3 {
    background-color: rgb(255, 20, 20);
}
.legend-4 {
    background-color: rgb(255, 57, 10);
}
.legend-5 {
    background-color: rgb(244, 108, 12);
}
.legend-6 {
    background-color: rgb(244, 168, 40);
}
.legend-7 {
    background-color: rgb(212, 255, 23);
}
.legend-8 {
    background-color: rgb(88, 168, 255);
}
.legend-9 {
    background-color: rgb(0, 114, 215);
}
.legend-10 {
    background-color: rgb(0, 14, 215);
}

#pain {
    margin: 0;
}
.row-width > label {
    font-size: 12px !important;
}
